# to propagate changes in this file, delete `sdkconfig`

# factory binary is larger than default size
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="../partitions.csv"

# need 4 MByte flash for OTA updates
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# enable BLE
CONFIG_BT_ENABLED=y

# optimize for size (didn't fit in OTA otherwise)
CONFIG_COMPILER_OPTIMIZATION_SIZE=y