# erase sdkconfig after changing this file, so it gets rebuild
menu "BLEscan"

    config OTA_UPDATE_FIRMWARE_URL
        string "Firmware upgrade url endpoint"
        default "http://coertvonk.com/cvonk/blescan/scanner.bin"
        help
            URL of server which hosts the firmware image. (make sure it matches Kconfig in factory dir)

    config OTA_UPDATE_RECV_TIMEOUT
        int "OTA Update receive Timeout"
        default 5000
        help
            Maximum time for reception [sec]

    config BLESCAN_MQTT_DATA_TOPIC
        string "MQTT broker uri"
        default "blescan/data"
        help
            MQTT data topic for iBeacons received over BLE

    config BLESCAN_MQTT_CTRL_TOPIC
        string "MQTT broker uri"
        default "blescan/ctrl"
        help
            MQTT ctrl topic

    config BLESCAN_HARDCODED_WIFI_CREDENTIALS
        bool "Use hardcoded Wi-Fi credentials"
        default n
        help
            Use a hardcoded Wi-Fi credentials. Defaults to n for BLE provisioning.
            
    config BLESCAN_HARDCODED_WIFI_SSID
        string "WiFi SSID"
        default ""
        depends on BLESCAN_HARDCODED_WIFI_CREDENTIALS
        help
            SSID (network name).

    config BLESCAN_HARDCODED_WIFI_PASSWD
        string "WiFi Password"
        default ""
        depends on BLESCAN_HARDCODED_WIFI_CREDENTIALS
        help
            WiFi password (WPA or WPA2).
        
    config BLESCAN_HARDCODED_MQTT_CREDENTIALS
        bool "Use hardcoded MQTT URL"
        default n
        help
            Use a hardcoded MQTT credentials. Defaults to n for BLE provisioning.
            
    config BLESCAN_HARDCODED_MQTT_URL
        string "Hardcoded MQTT broker url endpoint"
        default "mqtt://mqtt:passwd@host.domain:1883"
        depends on BLESCAN_HARDCODED_MQTT_CREDENTIALS
        help
            Hardcoded MQTT_URL. E.g. mqtt://mqtt:passwd@host.domain:1883.        

endmenu